@tailwind base;
@tailwind utilities;
@tailwind components;

@font-face {
  font-family: "DreamAvenue";   /*Can be any text*/
  src: local("DreamAvenue"),
    url("../fonts/DreamAvenue.ttf") format("truetype");
}

body {
    -webkit-font-smoothing: antialiased;
}

.embla {
  overflow: hidden;
}
.embla__container {
  display: flex;
}
.embla__slide {
  flex: 0 0 100%;
  min-width: 0;
}